body {
    margin: 0px;
    display: flex;
    background-color: skyblue;
    height: 100%;
    flex-wrap: wrap;
}

.note {
    margin: 4rem;
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation {
    width: 100%;
    height: 2rem;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.navigation button {
    margin: 0.2rem;
    font-size: 0.8rem;
    background-color: transparent;
    border: none;
    padding: 0px;
}

.btn button {
    margin-top: 1rem;
    position: fixed;
    right: 2rem;
    border-radius: 10px;
    background-color: lightgreen;
    font-size: 1.5rem;
}

textarea {
    background-color: transparent;
    border: none;
    resize: none;
    flex-grow: 1;
}

.text {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}